#profile{
    background-color:black ;
    color: white;
    display: flex;
    width: auto;
    font-size: 50px;
    flex-direction: column;
    img{
        border-radius: 50px;
    }
}
   
}
#aboutme{
    background-color: white;
    color: black;
    font-size: 100px;
}
#photo{
    background-color: whitesmoke;
    color: black;
    display: flex;
    font-size: medium;
    flex-direction: column;
}