.box{
    height: 50px;
    width: 50px;
    background-color: blue;
    color: black;
    transform: translate(100px,100px);
    transform: rotate(360deg);
    transform: scale();
    transform: skew(20deg);
}
.box3d{
    height: 50px;
    width: 50px;
    background-color: brown;
    color: aqua;
    transition:3s linear;
}
.box3d:hover{
    width: 100px;
    transform: rotate(360deg);
}
@keyframes example{
    from{
        background-color: red;}
        to{background-color: yellow; }
}
div{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name:example;
    animation-duration: 4s;
}
:root{
--text:blue;
--background:pink;
--primary:black;
--secondary:yellow;
--accent:blue;
}
.animation{
    background-color: var(--background);
    color: var(--primary);
}