*
{
    margin:0 ;
    padding: 0;
}
.logo img{
    height: 20vh;
    width: 20vh;
}
/* nav section*/
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-right: 3vh;
    padding-left: 3vh;
    padding-bottom: 1vh;
    align-items: center;
    background-color: bisque;
    
}
.logo1{
    display: flex;
    list-style: none;

}.logo1 a{
    display: flex;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: black;
 margin-right: 10vh;
}
.logo1 button{
    background-color: brown;
    color: white;
    font-size:x-large ;
}
.intro{
    position: absolute;
    bottom: 90px;
}
.intro1{
    margin: 5vh;
}
.intro1 h1{
    font-size: 44px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.intro1 h2{
    color: white;
    font-size: 32px;
}
.intro1 a button{
    margin-top: 7vh;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:brown;
    color:white;
    border-radius:15%;
    padding:2vh;
}

.page{
    text-align: center;
    padding: 3vh;
     background-color:antiquewhite;
}
  
.class{
    text-align: center;
    margin-top: 2vh;
}
.drop1{
    text-align: center;
    background-color:antiquewhite;
}
.drop1 h1{
    font-size: 6vh;
}
.drop2{
    display: flex;
    text-align: center;
    padding: 2vh;
    height: 20vh;
    background-color: white;
}
.drop3{
    padding: 2vh;
    text-align: center;
    background-color: antiquewhite;
} 
.box{
display: flex;
gap: 10vh;
padding: 2vh;
}
 .paragraph-box {
      border: 1px solid #333;
      padding: 10px;
      margin: 20px;
      width: 900px;
      background-color: #f0f0f0;
      border-radius: 8px;
      font-size: 14px; }

      .paragraph-box img{
       height: 50vh;
       width: 50vh;
      margin-top:5vh ;
       
       }



